<%= form_tag "/", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :post, "Post a String", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :post, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Submit Post", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
